<section>
  <div class="container">
  <h2>User info</h2>

  <%# form_for %>
  <%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
      <h3><%= @user.errors.count %>errors prohibited this book from being saved:</h3>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
    <p>Name</p>
    <%= f.text_field :name %>
    <%# title情報が反映されている入力フォームを下に作成 %>

    <p>Image</p>
    <%= f.attachment_field :profile_image %>
    <%# body情報が反映されている入力フォームを下に作成 %>
    
    <div class=".row">
    <div class=.col>
      <p>Introduction</p>
    </div>
    <div class=".col">
      <%= f.text_area :introduction %>
    </div>

    <%= f.submit 'Update User' %>
  <% end %>
<%# form_for %>
</section>