<%# Homeページ %>

<div class="container">
  
  <div class="row">

    <!-- User info --><!-- User info --><!-- User info --><!-- User info -->
    <div class="col-xs-3">
      <%= render 'books/info', {book: @book, user: @user} %>
    </div>
      <!-- User info --><!-- User info --><!-- User info --><!-- User info -->
    
    <!-- User info --><!-- User info --><!-- User info --><!-- User info -->
  
    <!-- Books --><!-- Books --><!-- Books --><!-- Books -->
    <div class="col-xs-9">
      <h2>Books</h2>
      <div class="alt-table-responsive">
        <table class="table">
          <tr>
            <th class="col-xs-2"></th>
            <th class="col-xs-4">Title</th>
            <th class="col-xs-6">Opinion</th>
          </tr>
          <!-- form_forを使う？ -->
          <% @books.each do |b| %>
            <tr>
              <td class="col-xs-2">
                <%= link_to user_path(@user) do %>
                  <%= attachment_image_tag @user, :profile_image, size: '50x50', fallback: "no_image.jpg"%>
                <% end %>
              </td>
              <td class="col-xs-4"><%= link_to "#{b.title}", book_path(b.id) %></td>
              <td class="col-xs-6"><%= b.body %></td>
            </tr>
          <% end %>
          <!-- form_forを使う？ -->
          
        </table>
      </div>
    </div>
    <!-- Books --><!-- Books --><!-- Books --><!-- Books -->

  </div>
</div>