<h2>User info</h2>

<%# user.each do |u| %>
  <p><%= attachment_image_tag user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg", size: '100x100', class: "img-circle pull-left profile-img"%></p>
  <table class="table">
    <tr>
      <th>name</th>
      <td><%= user.name %></td>
    </tr>
    <tr>
      <th>introduction</th>
      <td><%= user.introduction %></td>
    </tr>
  </table>
<%# end %>

<!-- 編集へ -->
<div class="row">
  <%= link_to edit_user_path(current_user.id), class: 'col-xs-12 btn btn-default' do %>
    <i class="glyphicon glyphicon-wrench"></i>
  <% end %>
</div>
<!-- 編集へ -->

<h2>New book</h2>
  <%= form_for(book) do |f| %>


    <div class="row">
      <p>Title</p>
      <%= f.text_field :title, class: 'col-xs-12' %>
      <%# 入力フォームを作成 %>
    </div>

    <div class="row mb-5">
      <p>Opinion</p>
      <%= f.text_area :body, class: 'col-xs-12' %>
      <%# 入力フォームを作成 %>
    </div>

    <div class="row">
      <%= f.submit 'Create Book', class: 'col-xs-12 btn btn-primary' %>
      <%# クリエイトをクリックされたらshowページに移行 %>
    </div>

  <% end %>  
