<div class="container">
  
  <div class="row">

    <!-- User info --><!-- User info --><!-- User info --><!-- User info -->
    <div class="col-xs-3">
      <%= render 'books/info', {book: @book, user: @user} %>
    </div>
    <!-- User info --><!-- User info --><!-- User info --><!-- User info -->

    <!-- User info --><!-- User info --><!-- User info --><!-- User info -->

    
    <!-- Books --><!-- Books --><!-- Books --><!-- Books -->
    <div class="col-xs-9">
      <h2>Book detail</h2>
      <div class="alt-table-responsive">
        <table class="table">
          <!-- form_forを使う？ -->
            <tr>
              <td class="col-xs-3">image</td>
              <td class="col-xs-2"><%= link_to "#{@book.title}", book_path(@book.id) %></td>
              <td class="col-xs-3"><%= @book.body %></td>
              <td class="col-xs-2"><%= link_to "Edit", edit_book_path(@book) %></td>
              <td class="col-xs-2"><%= link_to "Destroy", books_path, method: :delete, "data-confirm" => "本当に消しますか？" %></td>
            </tr>

          <!-- form_forを使う？ -->
          
        </table>
      </div>
    </div>
    <!-- Books --><!-- Books --><!-- Books --><!-- Books -->

  </div>
</div>