<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookers</title>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,600,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="slidemenu">
      <ul class="nav navbar-nav navbar-right" data-hover="dropdown" data-animations="zoomIn fadeIn fadeInUp fadeIn">
        
        <% if user_signed_in? %>
          <li class="">
            <%= link_to "Home", user_path(current_user.id) %>
          </li>
          <li class="">
            <%= link_to 'Users', users_path, method: :index %>
          </li>
          <li class="">
            <%= link_to 'Books', books_path, method: :index %>
          </li>
          <li>
            <%= link_to "logout", destroy_user_session_path, method: :delete %>
          </li>
        <% else %>
          <li class="">
            <%= link_to "Home", user_path(current_user.id) %>
          </li>
          <li class="">
            <%= link_to "About", new_user_path, method: :index %>
          </li>
          <li class="">
            <%= link_to "sign up", new_user_registration_path %>
          </li>
          <li class="">
            <%= link_to "login", new_user_session_path %>
          </li>
        <% end %>


      </ul>
    </div>
    <%= yield %>
  </body>
  <footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-3 col-xs-offset-9">
        <p>CopyRight Infratop.inc</p>
      </div>
    </div>
  </div>
</footer>
</html>
